{{parseProperty "options" options}}

<div
  data-render-condition="{{render-condition}}"
  class="frm-grp frm-sel
    {{conditional (object ta-x-hide=render-condition)}}
    {{container-classes}}
    ta-x-select"
>
  {{#if label}}
    <label>
      {{label}}
    </label>
  {{/if}}
  <select
    id="{{id}}"
    name="{{ternary name name id}}"
    data-config-path="{{config-path}}"
    data-is-array="{{ternary is-array 'true' 'false'}}"
    data-array-split="{{ternary is-array array-split ''}}"
    class="dropdown {{classes}}"
  >
    {{#each options}}
      <option value="{{this.value}}" selected="{{this.selected}}">
        {{this.text}}
      </option>
    {{/each}}
  </select>
</div>

{{#if helper-text}}
  <p
    data-render-condition="{{helper-render-condition}}"
    class="ta-x-checkbox-helper-text
      {{conditional (object ta-x-hide=helper-render-condition)}}"
  >
    {{helper-text}}
  </p>
{{/if}}